<div class="container" role="main">
  <a href="timeline" class="link"><h1>❖ SocialMe</h1></a>
  <h4>Login</h4>
  <form (ngSubmit)="onSubmit()">
        <div>
      <label for="Username">Username</label>
      <input
        type="text"
        id="username"
        [(ngModel)]="user.username"
        name="username"
        placeholder="Username"
        required
      />
    </div>
    <div>
      <label for="E-mail">E-mail</label>
      <input
        type="email"
        id="email"
        [(ngModel)]="user.email"
        name="email"
        placeholder="E-mail"
        required
      />
    </div>
    <div>
      <label for="password">Password</label>
      <input
        type="password"
        id="pass"
        [(ngModel)]="user.pass"
        name="pass"
        placeholder="Password"
        required
      />
    </div>
    <button type="submit" class="button_form">Submit</button>
  </form>
  <h4>or <a href="signup" class="link_">Sign Up</a></h4>
</div>