<div class="container" role="main">
  <a href="timeline" class="link"><h1>❖ SocialMe</h1></a>
  <h4>Login</h4>
  <form action="" method="POST">
    <div>
      <label for="E-mail">E-mail</label>
      <input
        type="text"
        id="email"
        name="email"
        placeholder="E-mail"
        required
      />
    </div>
    <div>
      <label for="password">Password</label>
      <input
        type="text"
        id="pass"
        name="pass"
        placeholder="Password"
        required
      />
    </div>
    <button type="submit" class="button_form">Login</button>
  </form>
  <h4>or <a href="signup" class="link_">Sign Up</a></h4>
</div>
