<div class="post">
  <div class="post-header">
    <div class="user-avatar">
      <img src="/assets/pic.jpg" alt="User's avatar">
    </div>
    <div class="user-info">
      <div class="user-name">abby</div>
      <div class="post-location">Sweden</div>
    </div>
  </div>

  <!--<img class="post-image" src="post_pic.jpg" alt="Post image">-->

  <div class="post-actions">
    <button class="liked" title="Like" aria-label="Like button" data-post-id="123">❤</button>
    <button class="saved" title="Save" aria-label="Save button" data-post-id="123">❖</button>
    <button title="Comment" aria-label="Comment button" data-post-id="123">💬</button>
  </div>

  <div class="likes-count">123 likes</div>
  
  <div class="post-caption">
    <span class="user-name">Abby</span>My game today
  </div>

  <div class="post-date">11th October 2006</div>

  <div class="comments">
    <div class="comment">
      <span class="user-name">Malie</span> I love this game!
    </div>
    <div class="comment">
      <span class="user-name">Elli</span> Beautiful
    </div>
  </div>
</div>